<app-header></app-header>

<div class="container pia-mainContainerBlock">
  <div class="row">
    <div class="small-12 medium-12 columns">
      <div class="pia-filtersBlock">
        <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'list'" (click)="viewOnCard()">
          <i class="fa fa-list" aria-hidden="true"></i>
          <div>{{ 'homepage.filters.card' | translate }}</div>
        </button>
        <button class="pia-filtersBlock-switch btn" type="button" *ngIf="viewStyle.view === 'card'" (click)="viewOnList()">
          <i class="fa fa-list" aria-hidden="true"></i>
          <div>{{ 'homepage.filters.list' | translate }}</div>
        </button>
        <div class="pia-filtersBlock-filters">
          <button class="pia-filtersBlock-filters-btn btn" type="button">
            {{ 'homepage.filters.sort' | translate }}
            <span class="pia-icons pia-icon-scroll-green"></span>
          </button>
          <div class="pia-filtersBlock-filters-list">
            <span>{{ 'homepage.filters.sort_by' | translate }}</span>
            <ul>
              <li [ngClass]="{'active': sortValue === 'name'}">
                <a (click)="sortBy('name');">{{ 'homepage.filters.name' | translate }}</a>
              </li>
              <li [ngClass]="{'active': sortValue === 'created_at'}">
                <a (click)="sortBy('created_at');">{{ 'homepage.filters.date' | translate }}</a>
              </li>
              <li [ngClass]="{'active': sortValue === 'status'}">
                <a (click)="sortBy('status');">{{ 'homepage.filters.status' | translate }}</a>
              </li>
              <li [ngClass]="{'active': sortValue === 'author_name'}">
                <a (click)="sortBy('author_name');">{{ 'homepage.filters.author' | translate }}</a>
              </li>
              <li [ngClass]="{'active': sortValue === 'evaluator_name'}">
                <a (click)="sortBy('evaluator_name');">{{ 'homepage.filters.assessor' | translate }}</a>
              </li>
              <li [ngClass]="{'active': sortValue === 'validator_name'}">
                <a (click)="sortBy('validator_name');">{{ 'homepage.filters.validator' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="viewStyle.view === 'list'" class="pia-filtersBlock-buttons">
          <button type="button" class="btn btn-green" (click)="_modalsService.openModal('modal-list-new-pia')"><i class="fa fa-folder-open" aria-hidden="true"></i>{{ 'homepage.filters.new_pia' | translate }}</button>
          <button type="button" (click)="importPia()" class="btn btn-green"><i class="fa fa-upload" aria-hidden="true"></i>{{ 'homepage.filters.import_pia' | translate }}</button>
        </div>
        <div class="pia-filtersBlock-hint" *ngIf="viewStyle.view === 'list' && _piaService.pias && _piaService.pias.length === 0">
          <div>
            <span class="pia-icons pia-icon-rocket-small"></span>
            <p [innerHTML]="'homepage.filters.list_rocket_content' | translate"></p>
          </div>
        </div>
        <div class="hide">
            <form enctype="multipart/form-data" [formGroup]="importPiaForm">
              <input type="file" formControlName="import_file" id="import_file" (change)="importPia($event)" class="hide">
            </form>
            <a href="" id="pia-exportBlock"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="viewStyle.view === 'card'; else viewList" class="small-12 medium-12 columns">
      <div class="pia-cardsBlock pia-newBlock" id="cardsSwitch">
        <div class="pia-newBlock-item front" id="pia-new-card">
          <div class="pia-newBlock-item-new">
            <div class="pia-newBlock-item-new-title">{{ 'homepage.cards.new_pia' | translate }}</div>
            <div class="pia-newBlock-item-new-btn">
              <i class="fa fa-folder-open" aria-hidden="true"></i>
              <button class="btn" (click)="newPIA()" type="button" title="{{ 'homepage.cards.placeholder_new_pia' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
            </div>
          </div>
          <span>{{ 'homepage.cards.or' | translate }}</span>
          <div class="pia-newBlock-item-import">
            <div class="pia-newBlock-item-import-title">{{ 'homepage.cards.import_pia' | translate }}</div>
            <div class="pia-newBlock-item-import-btn">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <button class="btn" (click)="importPia()" type="button" title="{{ 'homepage.cards.placeholder_import_pia' | translate }}"><span class="pia-icons pia-icon-pia-plus"></span></button>
            </div>
          </div>
        </div>
        <div class="pia-cardsBlock pia-editBlock back">
          <div class="pia-cardsBlock-item pia-editBlock-item">
            <button class="btn" (click)="reversePIA()" type="button" title="{{ 'homepage.cards.title_close_creation' | translate }}"><span class="pia-icons pia-icon-close"></span></button>
            <form class="pia-cardsBlock-item-form" (ngSubmit)="onSubmit(piaForm)" [formGroup]="piaForm">
              <div>
                <label for="name">{{ 'homepage.cards.pia_name' | translate }}</label>
                <input formControlName="name" type="text" placeholder="{{ 'homepage.cards.placeholder_pia_name' | translate }}" id="name" required>
              </div>
              <div>
                <label for="author_name">{{ 'homepage.cards.author' | translate }}</label>
                <input formControlName="author_name" type="text" [readonly]="true" [value]="loggedUsername"  [(ngModel)]="loggedUsername"  placeholder="{{ 'homepage.cards.placeholder_author' | translate }}" id="author_name" required>
              </div>
              <div>
                <label for="evaluator_name">{{ 'homepage.cards.evaluation' | translate }}</label>
                <input formControlName="evaluator_name" type="text" placeholder="{{ 'homepage.cards.placeholder_evaluation' | translate }}" id="evaluator_name" required>
              </div>
              <div>
                <label for="validator_name">{{ 'homepage.cards.validation' | translate }}</label>
                <input formControlName="validator_name" type="text" placeholder="{{ 'homepage.cards.placeholder_validation' | translate }}" id="validator_name" required>
              </div>
              <div>
                <label for="structure">{{ 'homepage.cards.structure' | translate }}</label>
                <div  class="pia-structure-wrapper">
                  <select formControlName="structure" id="structure">
                    <option value="" selected>{{ 'homepage.cards.placeholder_structure' | translate }}</option>
                    <option *ngFor="let item of _structureService.structures" [ngValue]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="pia-cardsBlock-item-date" *ngIf="newPia">
                <div>{{ 'homepage.cards.validation' | translate }}</div>
                <time>{{ newPia.created_at | date: 'dd/MM/yyyy'}}</time>
              </div>
              <div class="pia-cardsBlock-item-status">
                <div class="pia-cardsBlock-item-status-infos">
                  <div>{{ 'homepage.cards.status' | translate }}</div>
                  <div>{{ 'homepage.cards.creation_status' | translate }}</div>
                </div>
                <div class="pia-cardsBlock-item-status-progressBar">
                  <div>0%</div>
                  <progress max="100" value="0">
                  </progress>
                </div>
              </div>
              <div class="pia-cardsBlock-item-btn">
                <button type="submit" [disabled]="piaForm.invalid" class="btn btn-green" id="pia-save-card-btn" title="{{ 'homepage.cards.placeholder_start' | translate }}">{{ 'homepage.cards.start' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="pia-newBlock-hint" *ngIf="_piaService.pias && _piaService.pias.length === 0" id="pia-rocket">
          <span class="pia-icons pia-icon-small-arrow"></span>
          <div>
            <span class="pia-icons pia-icon-rocket"></span>
            <p [innerHTML]="'homepage.filters.card_rocket_content' | translate"></p>
          </div>
        </div>
      </div>
      <app-card-item *ngFor="let pia of _piaService.pias;let i=index" [pia]="pia" [previousPia]="i > 0 ? _piaService.pias[i-1] : null"></app-card-item>
    </div>
    <ng-template #viewList>
      <div class="small-12 medium-12 columns">
        <table class="pia-list-table">
          <thead>
            <tr>
              <th>
                <a (click)="sortBy('name')">
                  <span>{{ 'homepage.lists.column_pia' | translate }}</span>
                  <i *ngIf="sortValue === 'name'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <a (click)="sortBy('updated_at')">
                  <span>{{ 'homepage.lists.column_updated_at' | translate }}</span>
                  <i *ngIf="sortValue === 'updated_at'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <a (click)="sortBy('author_name')">
                  <span>{{ 'homepage.lists.column_author' | translate }}</span>
                  <i *ngIf="sortValue === 'author_name'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <a (click)="sortBy('evaluator_name')">
                  <span>{{ 'homepage.lists.column_evaluation' | translate }}</span>
                  <i *ngIf="sortValue === 'evaluator_name'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <a (click)="sortBy('validator_name')">
                  <span>{{ 'homepage.lists.column_validation' | translate }}</span>
                  <i *ngIf="sortValue === 'validator_name'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <!-- <th>
                <a (click)="sortBy('structure_name')">
                  <span>{{ 'homepage.lists.column_structure_name' | translate }}</span>
                  <i *ngIf="sortValue === 'structure_name'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th> -->
              <th>
                <a (click)="sortBy('created_at')">
                  <span>{{ 'homepage.lists.column_creation' | translate }}</span>
                  <i *ngIf="sortValue === 'created_at'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <span>{{ 'homepage.lists.column_status' | translate }}</span>
              </th>
              <th>
                <a (click)="sortBy('progress')">
                  <span>{{ 'homepage.lists.column_progression' | translate }}</span>
                  <i *ngIf="sortValue === 'progress'" class="fa fa-caret-{{sortOrder}}"></i>
                </a>
              </th>
              <th>
                <span>{{ 'homepage.lists.column_actions' | translate }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="app-list-item" [ngClass]="{'pia-exampleBlock': pia.is_example === 1}" [attr.data-id]="pia.id" *ngFor="let pia of _piaService.pias  | author:filterAuthor;let i=index" [pia]="pia"></tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
<app-modals></app-modals>
