<app-header></app-header>
<main class="container pia-summaryContainerBlock pia-mainContainerBlock">
  <div class="pia-summaryButtonsBlock unselectable">
    <a title="{{ 'summary.previous_page' | translate }}" routerLink="/entry/{{_piaService.pia.id}}/section/1/item/1" class="btn hide-for-print">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <button onclick="print()" class="btn hide-for-print" title="{{ 'summary.print' | translate }}">
      <i class="fa fa-print" aria-hidden="true"></i>
    </button>
    <button (click)="generateZip('pia-full-content')" class="btn hide-for-print" title="{{ 'summary.generate_zip' | translate }}">
      <i class="fa fa-file-zip-o" aria-hidden="true"></i>
    </button>
    <button (click)="generateDocx('pia-full-content')" class="btn hide-for-print" title="{{ 'summary.generate_docx' | translate }}">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
    </button>
    <angular2csv [data]="csvContent" filename="plan_d-action" title="{{ 'summary.download_csv' | translate }}" class="btn hide-for-print" [options]="csvOptions"><i class="fa fa-2x fa-file-excel-o"></i></angular2csv>
    <button title="{{ 'summary.download_images' | translate }}" class="btn hide-for-print" (click)="downloadAllGraphsAsImages()"><i class="fa fa-2x fa-file-image-o"></i></button>
    <button title="{{ 'summary.download_json' | translate }}" class="btn hide-for-print" (click)="downloadJSON()"><i class="fa fa-2x fa-file-code-o"></i></button>
  </div>

  <!-- Customize content filters -->
  <div class="row">
    <div class="small-12 medium-12 columns">
      <form class="pia-summaryFiltersBlock hide-for-print">
        <fieldset>
          <legend class="unselectable">{{ 'summary.display_filters.title' | translate }}</legend>
          <div class="databox">
            <div>
              <input type="checkbox" name="displayer-pia-all" id="displayer-pia-all" [checked]="displayOnlyActionPlan ? false : true" (change)="toggleAllFilters()">
              <label for="displayer-pia-all">{{ 'summary.display_filters.check_all' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-main-content" id="displayer-pia-main-content" [checked]="displayMainPiaData ? true : false" (change)="toggleMainContent()">
              <label for="displayer-pia-main-content">{{ 'summary.display_filters.main_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-section-1" id="displayer-pia-main-1" [checked]="displaySection1 ? true : false" (change)="toggleContextContent()">
              <label for="displayer-pia-main-1">{{ 'summary.display_filters.context_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-section-2" id="displayer-pia-section-2" [checked]="displaySection2 ? true : false" (change)="toggleFundamentalPrinciplesContent()">
              <label for="displayer-pia-section-2">{{ 'summary.display_filters.principles_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-section-3" id="displayer-pia-section-3" [checked]="displaySection3 ? true : false" (change)="toggleRisksContent()">
              <label for="displayer-pia-section-3">{{ 'summary.display_filters.risks_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-action-plan" id="displayer-pia-action-plan" [checked]="displayActionPlan ? true : false" (change)="toggleActionPlanContent()">
              <label for="displayer-pia-action-plan">{{ 'summary.display_filters.action_plan_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-risks-overview" id="displayer-pia-risks-overview" [checked]="displayRisksOverview ? true : false" (change)="toggleRisksOverviewContent()">
              <label for="displayer-pia-risks-overview">{{ 'summary.display_filters.risks_overview_content' | translate }}</label>
            </div>
            <div>
              <input type="checkbox" name="displayer-pia-risks-cartography" id="displayer-risks-cartography" [checked]="displayRisksCartography ? true : false" (change)="toggleRisksCartographyContent()">
              <label for="displayer-risks-cartography">{{ 'summary.display_filters.risks_cartography_content' | translate }}</label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row" id="pia-full-content">
    <div class="small-12 medium-12 columns">
      <div *ngIf="allData" ng-class="{'text-success': model.copied, 'text-danger': !model.copied}" ng-copy="events.onCopy($event)">

        <!-- Main PIA data -->
        <div class="fadeIn" *ngIf="displayMainPiaData">
          <div *ngFor="let c of content">
            <div *ngIf="c.data.length > 0">
              <h1>{{ c.title | translate }}</h1>
              <h2 *ngIf="c.subtitle">{{ c.subtitle | translate }}</h2>
              <div class="databox" *ngFor="let d of c.data">
                <h3 id="select">{{ d.title | translate }}</h3>
                <div style="font-weight:500;" [ngClass]="{ 'pia-attachment-removed': d.comment && d.comment.length > 0 }" *ngIf="d.type !== 'date'; else dateBlock" [innerHTML]="d.content | translate | safeHtml"></div>
                <div *ngIf="d.type !== 'date' && d.comment && d.comment.length > 0" [innerHTML]="d.comment | nl2br | safeHtml"></div>
                <ng-template #dateBlock>
                  <time style="font-weight:500;" *ngIf="d.content.toString() !== 'Invalid Date'">{{ d.content | date: 'dd/MM/yyyy' }}</time>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let section of _piaService.data.sections">
          <div class="fadeIn section-{{section.id}} pagebreak" *ngIf="section.id !== 4">
            <h1 >{{ section.title | translate }}</h1>
            <div *ngFor="let item of section.items">
              <div *ngIf="item.evaluation_mode !== ''">
                <h2>{{ item.title | translate }}</h2>
                <div class="databox">

                  <!-- Measures -->
                  <div *ngIf="item.is_measure">
                    <div *ngFor="let measure of allData[section.id][item.id]">
                      <h3 [innerHTML]="measure.title"></h3>
                      <div [innerHTML]="measure.content | translate | safeHtml"></div>
                      <br>
                      <!-- Measures' evaluations -->
                      <div class="evaluationbox" *ngIf="measure.evaluation">
                        <p>
                          <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ measure.evaluation.title | translate }}</strong>
                          <br>
                          <span *ngIf="measure.evaluation.action_plan_comment">
                            <strong>{{ 'evaluations.action_plan_comment' | translate }} :<br></strong><span style="font-weight:400;" [innerHTML]="measure.evaluation.action_plan_comment | safeHtml"></span>
                            <br>
                          </span>
                          <span *ngIf="measure.evaluation.evaluation_comment">
                            <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong><span style="font-weight:400;" [innerHTML]="measure.evaluation.evaluation_comment | safeHtml"></span>
                            <br>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Questions -->
                  <div *ngIf="item.questions">
                    <div *ngFor="let question of item.questions">
                      <h3 [innerHTML]="question.title | translate"></h3>
                      <div *ngIf="allData[section.id][item.id][question.id].content && allData[section.id][item.id][question.id].content.length > 0" [innerHTML]="allData[section.id][item.id][question.id].content | translate | safeHtml"></div>
                      <div class="evaluationbox" *ngIf="allData[section.id][item.id][question.id].evaluation">
                        <br>
                        <p>
                          <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ allData[section.id][item.id][question.id].evaluation.title | translate }}</strong>
                          <br>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.action_plan_comment">
                            <strong>{{ 'evaluations.action_plan_comment' | translate }} :<br></strong><span [innerHTML]="allData[section.id][item.id][question.id].evaluation.action_plan_comment | safeHtml"></span>
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.evaluation_comment">
                            <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong><span [innerHTML]="allData[section.id][item.id][question.id].evaluation.evaluation_comment | safeHtml"></span>
                            <br>
                          </span>

                          <!-- Gauges' values -->
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.gauges && allData[section.id][item.id][question.id].evaluation.gauges.seriousness > 0">
                            <span [innerHTML]="'evaluations.gauges.seriousness' | translate:allData[section.id][item.id][question.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id][question.id].evaluation.gauges.seriousness | translate }}
                            <br>
                          </span>
                          <span *ngIf="allData[section.id][item.id][question.id].evaluation.gauges && allData[section.id][item.id][question.id].evaluation.gauges.likelihood > 0">
                            <span [innerHTML]="'evaluations.gauges.likelihood' | translate:allData[section.id][item.id][question.id].evaluation.gauges.riskName"></span>
                            {{ 'evaluations.gauges.' + allData[section.id][item.id][question.id].evaluation.gauges.likelihood | translate }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Evaluations -->
                  <div class="evaluationbox" *ngIf="allData[section.id][item.id]['evaluation_item']">
                    <br>
                    <p>
                      <strong class="evaluationValue">{{ 'evaluations.title' | translate }} : {{ allData[section.id][item.id]['evaluation_item'].title | translate }}</strong>
                      <br>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].action_plan_comment">
                        <strong>{{ 'evaluations.action_plan_comment' | translate }} :<br></strong><span [innerHTML]="allData[section.id][item.id]['evaluation_item'].action_plan_comment | safeHtml"></span>
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].evaluation_comment">
                        <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong><span [innerHTML]="allData[section.id][item.id]['evaluation_item'].evaluation_comment | safeHtml"></span>
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].gauges && allData[section.id][item.id]['evaluation_item'].gauges.seriousness > 0">
                        <span [innerHTML]="'evaluations.gauges.seriousness' | translate:allData[section.id][item.id]['evaluation_item'].gauges.riskName"></span>
                        {{ 'evaluations.gauges.' + allData[section.id][item.id]['evaluation_item'].gauges.seriousness | translate }}
                        <br>
                      </span>
                      <span *ngIf="allData[section.id][item.id]['evaluation_item'].gauges && allData[section.id][item.id]['evaluation_item'].gauges.likelihood > 0">
                        <span [innerHTML]="'evaluations.gauges.likelihood' | translate:allData[section.id][item.id]['evaluation_item'].gauges.riskName"></span>
                        {{ 'evaluations.gauges.' + allData[section.id][item.id]['evaluation_item'].gauges.likelihood | translate }}
                      </span>
                    </p>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Action plan summary -->
      <div class="fadeIn pagebreak actionPlan" *ngIf="displayActionPlan">
        <div>
          <h1>{{ 'summary.action_plan.title' | translate }}</h1>

          <div class="pia-actionPlanGraphBlockContainer">
            <!-- Action plan graph -->
            <div class="pia-entryContentBlock-content pia-actionPlanGraphBlock unselectable" id="actionPlanOverviewImg">
              <h2>{{ 'action_plan.title' | translate }}</h2>
              <div class="row">

                <div class="medium-6 columns pia-actionPlanGraphBlock-left">
                  <h3>{{ 'action_plan.principles' | translate }}</h3>
                  <div class="pia-actionPlanGraphBlock-item" *ngFor="let r of _actionPlanService.results">
                    <span class="pia-list">{{ r.short_title | translate }}</span>
                    <span class="pia-box" [ngClass]="{'pia-blue': r.status === 2, 'pia-red': r.status === 1}"></span>
                    <span class="pia-box" [ngClass]="{'pia-green': r.status === 3, 'pia-red': r.status === 1}"></span>
                  </div>
                </div>

                <div class="medium-6 columns pia-actionPlanGraphBlock-right">

                  <h3>{{ 'action_plan.measures' | translate }}</h3>

                  <div class="pia-actionPlanGraphBlock-right-measures summaryMode">
                    <div class="pia-actionPlanGraphBlock-right-measures-scroll summaryMode" *ngIf="_actionPlanService.measures">
                      <div *ngFor="let measure of _actionPlanService.measures" class="pia-actionPlanGraphBlock-item">
                        <span class="pia-box" [ngClass]="{'pia-blue': measure.status === 2, 'pia-red': measure.status === 1}"></span>
                        <span class="pia-box" [ngClass]="{'pia-green': measure.status === 3, 'pia-red': measure.status === 1}"></span>
                        <span class="pia-list">{{ measure.name }}</span>
                      </div>
                    </div>
                  </div>

                  <h3>{{ 'action_plan.risks' | translate }}</h3>
                  <div class="pia-actionPlanGraphBlock-item">
                    <span class="pia-box" [ngClass]="{'pia-blue': _actionPlanService.risks['3.2'] && _actionPlanService.risks['3.2']['status'] === 2, 'pia-red': _actionPlanService.risks['3.2'] && _actionPlanService.risks['3.2']['status'] === 1}"></span>
                    <span class="pia-box" [ngClass]="{'pia-green': _actionPlanService.risks['3.2'] && _actionPlanService.risks['3.2']['status'] === 3, 'pia-red': _actionPlanService.risks['3.2'] && _actionPlanService.risks['3.2']['status'] === 1}"></span>
                    <span class="pia-list">{{ 'action_plan.risk1' | translate }}</span>
                  </div>

                  <div class="pia-actionPlanGraphBlock-item">
                    <span class="pia-box" [ngClass]="{'pia-blue': _actionPlanService.risks['3.3'] && _actionPlanService.risks['3.3']['status'] === 2, 'pia-red': _actionPlanService.risks['3.3'] && _actionPlanService.risks['3.3']['status'] === 1}"></span>
                    <span class="pia-box" [ngClass]="{'pia-green': _actionPlanService.risks['3.3'] && _actionPlanService.risks['3.3']['status'] === 3, 'pia-red': _actionPlanService.risks['3.3'] && _actionPlanService.risks['3.3']['status'] === 1}"></span>
                    <span class="pia-list">{{ 'action_plan.risk2' | translate }}</span>
                  </div>

                  <div class="pia-actionPlanGraphBlock-item">
                    <span class="pia-box pia-blue" ></span>
                    <span class="pia-box" [ngClass]="{'pia-green': _actionPlanService.risks['3.4'] && _actionPlanService.risks['3.4']['status'] === 3, 'pia-red': _actionPlanService.risks['3.4'] && _actionPlanService.risks['3.4']['status'] === 1}"></span>
                    <span class="pia-list">{{ 'action_plan.risk3' | translate }}</span>
                  </div>

                </div>

                <div class="pia-legend">
                  <p>{{ 'action_plan.improvable_measures' | translate }}</p>
                  <p>{{ 'action_plan.acceptable_measures' | translate }}</p>
                </div>

              </div>
            </div>
          </div>

          <!-- Action plan for fundamental principles -->
          <div class="pagebreak">
            <h2>{{ 'summary.action_plan.fundamental_principles' | translate }}</h2>
            <ng-container *ngIf="_actionPlanService.principlesActionPlanReady; else noFundamentalPrinciples">
              <div class="actionplanbox">
                <div *ngFor="let entry of _actionPlanService.results">
                  <div style="border:0.5px dotted #A7A7A7;padding:6px;margin:10px 0;" *ngIf="entry.action_plan_comment && entry.action_plan_comment.length > 0">
                    <h3 style="margin-bottom:2px;">{{ entry.short_title | translate }}</h3>
                    <div>
                      <strong>{{ 'evaluations.action_plan_comment' | translate }} :<br></strong>
                      <span [innerHTML]="entry.action_plan_comment | translate | safeHtml"></span>
                    </div>
                    <div *ngIf="entry.evaluation_comment && entry.evaluation_comment.length > 0">
                      <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong>
                      <span [innerHTML]="entry.evaluation_comment | safeHtml"></span>
                    </div>
                    <div *ngIf="entry.evaluation && entry.evaluation.estimated_implementation_date && entry.evaluation.estimated_implementation_date .toString() !== 'Invalid Date'">
                      <strong>{{ 'summary.action_plan.implementation_date' | translate }} : </strong>
                      <time>{{ entry.evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                    </div>
                    <div *ngIf="entry.evaluation && entry.evaluation.person_in_charge">
                      <strong>{{ 'summary.action_plan.implementation_responsible' | translate }} : </strong>
                      {{ entry.evaluation.person_in_charge }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noFundamentalPrinciples>
              <div class="actionplanbox">
                {{ 'summary.action_plan.no_action_plan' |  translate }}
              </div>
            </ng-template>
          </div>

          <!-- Action plan for measures -->
          <div class="pagebreak">
            <h2>{{ 'summary.action_plan.measures' | translate }}</h2>
            <ng-container *ngIf="_actionPlanService.measuresActionPlanReady; else noMeasures">
              <div class="actionplanbox">
                <div *ngFor="let entry of _actionPlanService.measures">
                  <div style="border:0.5px dotted #A7A7A7;padding:6px;margin:10px 0;" *ngIf="entry.action_plan_comment && entry.action_plan_comment.length > 0">
                    <h3 style="margin-bottom:2px;">{{ entry.short_title | translate }}</h3>
                    <div>
                      <strong>{{ 'evaluations.action_plan_comment' | translate }} :<br></strong>
                      <span [innerHTML]="entry.action_plan_comment | translate | safeHtml"></span>
                    </div>
                    <div *ngIf="entry.evaluation_comment && entry.evaluation_comment.length > 0">
                      <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong>
                      <span [innerHTML]="entry.evaluation_comment | safeHtml"></span>
                    </div>
                    <div *ngIf="entry.evaluation && entry.evaluation.estimated_implementation_date && entry.evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">
                      <strong>{{ 'summary.action_plan.implementation_date' | translate }} : </strong>
                      <time>{{ entry.evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                    </div>
                    <div *ngIf="entry.evaluation && entry.evaluation.person_in_charge">
                      <strong>{{ 'summary.action_plan.implementation_responsible' | translate }} : </strong>
                      {{ entry.evaluation.person_in_charge }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noMeasures>
              <div class="actionplanbox">
                {{ 'summary.action_plan.no_action_plan' |  translate }}
              </div>
            </ng-template>
          </div>

          <!-- Action plan for risks -->
          <div class="pagebreak">
            <!-- Risk 1 -->
            <div *ngIf="_actionPlanService.risksActionPlan32Ready">
              <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.2'].short_title | translate }}</h2>
              <div class="actionplanbox">
                <strong>{{ 'evaluations.action_plan_comment' | translate }} : </strong>
                <div [innerHTML]="_actionPlanService.risks['3.2'].action_plan_comment | translate | safeHtml"></div>
                <div *ngIf="_actionPlanService.risks['3.2'].evaluation_comment && _actionPlanService.risks['3.2'].evaluation_comment.length > 0">
                  <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong>
                  <span [innerHTML]="_actionPlanService.risks['3.2'].evaluation_comment | safeHtml"></span>
                </div>

                <!-- Estimated implementation date & implementation responsible -->
                <div class="estimated-implementation-date" *ngIf="_actionPlanService.risks['3.2'].evaluation && _actionPlanService.risks['3.2'].evaluation.estimated_implementation_date && _actionPlanService.risks['3.2'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">
                  <strong>{{ 'summary.action_plan.implementation_date' | translate }} : </strong>
                  <time>{{ _actionPlanService.risks['3.2'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                </div>
                <div class="implementation-responsible" *ngIf="_actionPlanService.risks['3.2'].evaluation && _actionPlanService.risks['3.2'].evaluation.person_in_charge && _actionPlanService.risks['3.2'].evaluation.person_in_charge.length > 0">
                  <strong>{{ 'summary.action_plan.implementation_responsible' | translate }} : </strong>
                  {{ _actionPlanService.risks['3.2'].evaluation.person_in_charge }}
                </div>

                <!-- Reviewer gauges -->
                <span *ngIf="_actionPlanService.risks['3.2'].evaluation.gauges && _actionPlanService.risks['3.2'].evaluation.gauges.x > 0">
                  <span [innerHTML]="'evaluations.gauges.seriousness' | translate:{value: _actionPlanService.risks['3.2'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.2'].evaluation.gauges.x | translate }}</strong>
                  <br>
                </span>
                <span *ngIf="_actionPlanService.risks['3.2'].evaluation.gauges && _actionPlanService.risks['3.2'].evaluation.gauges.y > 0">
                  <span [innerHTML]="'evaluations.gauges.likelihood' | translate:{value: _actionPlanService.risks['3.2'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.2'].evaluation.gauges.y | translate }}</strong>
                </span>

              </div>
            </div>

            <!-- Risk 2 -->
            <div *ngIf="_actionPlanService.risksActionPlan33Ready">
              <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.3'].short_title | translate }}</h2>
              <div class="actionplanbox">
                <strong>{{ 'evaluations.action_plan_comment' | translate }} : </strong>
                <div [innerHTML]="_actionPlanService.risks['3.3'].action_plan_comment | translate | safeHtml"></div>
                <div *ngIf="_actionPlanService.risks['3.3'].evaluation_comment && _actionPlanService.risks['3.3'].evaluation_comment.length > 0">
                  <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong>
                  <span [innerHTML]="_actionPlanService.risks['3.3'].evaluation_comment | safeHtml"></span>
                </div>

                <!-- Estimated implementation date & implementation responsible -->
                <div class="estimated-implementation-date" *ngIf="_actionPlanService.risks['3.3'].evaluation && _actionPlanService.risks['3.3'].evaluation.estimated_implementation_date && _actionPlanService.risks['3.3'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">
                  <strong>{{ 'summary.action_plan.implementation_date' | translate }} : </strong>
                  <time>{{ _actionPlanService.risks['3.3'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                </div>
                <div class="implementation-responsible" *ngIf="_actionPlanService.risks['3.3'].evaluation && _actionPlanService.risks['3.3'].evaluation.person_in_charge && _actionPlanService.risks['3.3'].evaluation.person_in_charge.length > 0">
                  <strong>{{ 'summary.action_plan.implementation_responsible' | translate }} : </strong>
                  {{ _actionPlanService.risks['3.3'].evaluation.person_in_charge }}
                </div>

                <!-- Reviewer gauges -->
                <span *ngIf="_actionPlanService.risks['3.3'].evaluation.gauges && _actionPlanService.risks['3.3'].evaluation.gauges.x > 0">
                  <span [innerHTML]="'evaluations.gauges.seriousness' | translate:{value: _actionPlanService.risks['3.3'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.3'].evaluation.gauges.x | translate }}</strong>
                  <br>
                </span>
                <span *ngIf="_actionPlanService.risks['3.3'].evaluation.gauges && _actionPlanService.risks['3.3'].evaluation.gauges.y > 0">
                  <span [innerHTML]="'evaluations.gauges.likelihood' | translate:{value: _actionPlanService.risks['3.3'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.3'].evaluation.gauges.y | translate }}</strong>
                </span>

              </div>
            </div>

            <!-- Risk 3 -->
            <div *ngIf="_actionPlanService.risksActionPlan34Ready">
              <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }} - {{ _actionPlanService.risks['3.4'].short_title | translate }}</h2>
              <div class="actionplanbox">
                <strong>{{ 'evaluations.action_plan_comment' | translate }} : </strong>
                <div [innerHTML]="_actionPlanService.risks['3.4'].action_plan_comment | translate | safeHtml"></div>
                <div *ngIf="_actionPlanService.risks['3.4'].evaluation_comment && _actionPlanService.risks['3.4'].evaluation_comment.length > 0">
                  <strong>{{ 'evaluations.evaluation_comment' | translate }} :<br></strong>
                  <span [innerHTML]="_actionPlanService.risks['3.4'].evaluation_comment | safeHtml"></span>
                </div>

                <!-- Estimated implementation date & implementation responsible -->
                <div class="estimated-implementation-date" *ngIf="_actionPlanService.risks['3.4'].evaluation && _actionPlanService.risks['3.4'].evaluation.estimated_implementation_date && _actionPlanService.risks['3.4'].evaluation.estimated_implementation_date.toString() !== 'Invalid Date'">
                  <strong>{{ 'summary.action_plan.implementation_date' | translate }} : </strong>
                  <time>{{ _actionPlanService.risks['3.4'].evaluation.estimated_implementation_date | date: 'dd/MM/yyyy' }}</time>
                </div>
                <div class="implementation-responsible" *ngIf="_actionPlanService.risks['3.4'].evaluation && _actionPlanService.risks['3.4'].evaluation.person_in_charge && _actionPlanService.risks['3.4'].evaluation.person_in_charge.length > 0">
                  <strong>{{ 'summary.action_plan.implementation_responsible' | translate }} : </strong>
                  {{ _actionPlanService.risks['3.4'].evaluation.person_in_charge }}
                </div>

                <!-- Reviewer gauges -->
                <span *ngIf="_actionPlanService.risks['3.4'].evaluation.gauges && _actionPlanService.risks['3.4'].evaluation.gauges.x > 0">
                  <span [innerHTML]="'evaluations.gauges.seriousness' | translate:{value: _actionPlanService.risks['3.4'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.4'].evaluation.gauges.x | translate }}</strong>
                  <br>
                </span>
                <span *ngIf="_actionPlanService.risks['3.4'].evaluation.gauges && _actionPlanService.risks['3.4'].evaluation.gauges.y > 0">
                  <span [innerHTML]="'evaluations.gauges.likelihood' | translate:{value: _actionPlanService.risks['3.4'].short_title}"></span>
                  <strong> {{ 'evaluations.gauges.' + _actionPlanService.risks['3.4'].evaluation.gauges.y | translate }}</strong>
                </span>

              </div>
            </div>

            <!-- No actions plan for risks -->
            <div *ngIf="!_actionPlanService.risksActionPlan32Ready && !_actionPlanService.risksActionPlan33Ready && !_actionPlanService.risksActionPlan34Ready">
              <h2 style="margin-bottom:2px;">{{ 'summary.action_plan.risks' | translate }}</h2>
              <div class="actionplanbox">
                {{ 'summary.action_plan.no_action_plan' |  translate }}
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Risks overview -->
  <div class="pia-summaryRisksOverviewBlock pagebreak" *ngIf="displayRisksOverview">
    <h1>{{ 'summary.risks_overview_title' |  translate }}</h1>
    <div class="risksOverview">
      <div class="app-overview-risks"></div>
    </div>
  </div>

  <!-- Risks cartography -->
  <div class="pia-summaryRisksCartographyBlock pagebreak" *ngIf="displayRisksCartography">
    <h1>{{ 'summary.risks_cartography_title' |  translate }}</h1>
    <div>
      <div class="app-risks-cartography"></div>
    </div>
  </div>

</main>

<app-modals></app-modals>
