<div class="pia-validationCartographyBlock">
  <div class="pia-entryContentBlock-content">
    <div id="risksCartographyImg" class="pia-cartographyBlock">
      <div>
        <div class="pia-cartographyBlock-gravity">{{ 'cartography.seriousness_axe' | translate }}</div>
        <div class="pia-cartographyBlock-graph">
          <div class="pia-cartographyBlock-ordinates">
            <div>{{ 'cartography.maximal' | translate }}</div>
            <div>{{ 'cartography.important' | translate }}</div>
            <div>{{ 'cartography.limited' | translate }}</div>
            <div>{{ 'cartography.negligible' | translate }}</div>
          </div>
          <canvas id="actionPlanCartography" width="400" height="400"></canvas>
        </div>
        <div class="pia-cartographyBlock-abscisses">
          <div>{{ 'cartography.negligible' | translate }}</div>
          <div>{{ 'cartography.limited' | translate }}</div>
          <div>{{ 'cartography.important' | translate }}</div>
          <div>{{ 'cartography.maximal' | translate }}</div>
        </div>
        <!-- Legend for Risks -->
        <div class="pia-cartographyBlock-legend">
          <p class="title">{{ 'cartography.title1' | translate }}</p>
          <ul class="risks">  
            <li *ngIf="checkRiskExist('risk-access')">
              {{ 'cartography.legend1' | translate }}</li>
            <li *ngIf="checkRiskExist('risk-change')">
              {{ 'cartography.legend2' | translate }}</li>
            <li *ngIf="checkRiskExist('risk-disappearance')">
              {{ 'cartography.legend3' | translate }}</li>
          </ul>
        </div>
        <!-- Legend for Risks Categories -->
        <div class="pia-cartographyBlock-legend">
          <p class="title">{{ 'cartography.title2' | translate }}</p>
          <ul class="measures">
            <li *ngIf="checkMeasureExist('pre')" class="pre">
              {{ 'cartography.legend4' | translate }}</li>
            <li>
              {{ 'cartography.legend5' | translate }}</li>
            <li *ngIf="checkMeasureExist('evaluator')" class="eval">
              {{ 'cartography.legend6' | translate }}</li>
          </ul>
        </div><!--
        --><div class="pia-cartographyBlock-probability">{{ 'cartography.likelihood_axe' | translate }}</div>
        <div class="pia-cartographyBlock-date">
          <time>{{_piaService.pia.created_at | date: 'dd/MM/yyyy'}}</time>
        </div>
      </div>
    </div>
  </div>
</div>
