@import '../../../../assets/stylesheets/variables';
.pia {
  &-cartographyBlock {
    box-shadow: 1px 1px 15px 1px #d2d2d2;
    background-color: #fff;
    display: block;
    padding: 25px;
    &-graph {
      text-align: right;
      canvas {
        margin-left: 8px;
        margin-right: 15px;
        vertical-align: top;
        border-left: 1px solid $pia-gray;
        border-bottom: 1px solid $pia-gray;
        // Linear gradient for background (green to red)
        background-color: #d8f9e9;
        background-image: linear-gradient(to right top, #d8f9e9 0%, #c5f5de 15%, #fee4e8 68%, #fed8de 88%);
      }
    }
    &-ordinates, &-abscisses {
      font-size: 1rem;
      color: $pia-gray;
    }
    &-ordinates {
      display: inline-block;
      vertical-align: top;
      div {
        height: 100px;
        line-height: 100px;
      }
    }
    &-abscisses {
      text-align: right;
      margin-bottom: 10px;
      margin-top: 8px;
      div {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 102px;
      }
    }
    &-gravity {
      margin-bottom: 10px;
      padding-left: 28px;
    }
    &-gravity, &-probability {
      font-weight: 500;
      font-size: 1.3rem;
      color: $pia-dark-black;
    }
    &-probability, &-legend {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0;
    }
    &-probability {
      width: 20%;
      text-align: right;
    }
    &-legend {
      width: 40%;
      p.title {
        font-weight: 600;
        text-decoration: underline;
      }
      ul {
        padding-left: 0;
      }
      ul.risks {
        list-style-type: none;
      }
      li {
        font-size: 1rem;
        font-weight: 500;
      }
      li.pre {
        color: $pia-red;
      }
      li.eval {
        color: #4366ef;
      }
    }
    &-date {
      width: 100%;
      border-top: 1px solid $pia-green;
      margin-top: 26px;
      time {
        display: block;
        color: $pia-gray;
        font-size: 1rem;
        margin-top: 18px;
      }
    }
  }
}
