<ng-container *ngIf="boolAllRow">
<td class="pia-listsBlock-item">
  <div contenteditable (focusout)="onFocusOut('name', $event)">{{ pia.name }}</div>
  <div *ngIf="attachments && attachments.length > 0" class="pia-listsBlock-item-attachment" aria-hidden="true">
    <span class="pia-icons pia-icon-attachment"></span>
    <ul>
      <ng-container *ngFor="let attachment of attachments">
        <li>
          {{ attachment.name }}
        </li>
      </ng-container>
    </ul>
  </div>
</td>
<td class="pia-listsBlock-item"><time *ngIf="pia.updated_at && pia.updated_at.toString() !== 'Invalid Date'">{{ pia.updated_at | date: 'dd/MM/yyyy' }}</time></td>
<td class="pia-listsBlock-item"><div (focusout)="onFocusOut('author_name', $event)">{{ pia.author_name }}</div></td>
<td class="pia-listsBlock-item"><div contenteditable (focusout)="onFocusOut('evaluator_name', $event)">{{ pia.evaluator_name }}</div></td>
<td class="pia-listsBlock-item"><div contenteditable (focusout)="onFocusOut('validator_name', $event)">{{ pia.validator_name }}</div></td>
<!-- <td class="pia-listsBlock-item"><div *ngIf="pia.structure_id">{{ pia.structure_name }}</div></td> -->
<td class="pia-listsBlock-item"><time>{{ pia.created_at | date: 'dd/MM/yyyy' }}</time></td>
<td class="pia-listsBlock-item" *ngIf="pia.status === 0 && pia.progress === 100;else defaultStatuses">
  {{ 'pia.statuses.5' | translate }}
</td> 
 <ng-template #defaultStatuses>
  <td class="pia-listsBlock-item">{{ pia.getStatusName() | translate }}</td>
</ng-template>
<td class="pia-listsBlock-item progress">
  <div class="pia-cardsBlock-item-status-progressBar">
    <progress max="100" value="{{ pia.progress }}"></progress>
  </div>
</td>
<td class="pia-listsBlock-item">
  <div class="pia-listsBlock-item-actions">
    <a routerLink="/entry/{{pia.id}}/section/1/item/1" class="btn pia-tooltip">
      <i class="fa" [ngClass]="{'fa-eye': pia.status > 0, 'fa-pencil': pia.status === 0}" aria-hidden="true"></i>
      <span *ngIf="pia.status === 0" class="pia-tooltip-text">{{ 'homepage.lists.item.tools.edit' | translate }}</span>
      <span *ngIf="pia.status > 0" class="pia-tooltip-text">{{ 'homepage.lists.item.tools.consult' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="export(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-download" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.export' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="_piaService.duplicate(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.duplicate' | translate }}</span>
    </a>
    <a routerLink="/summary/{{pia.id}}" [queryParams]="{ displayOnlyActionPlan: true }" class="btn pia-tooltip">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.action_plan' | translate }}</span>
    </a>
    <a routerLink="/summary/{{pia.id}}" class="btn pia-tooltip">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.pia' | translate }}</span>
    </a>
    <a href="javascript:;" (click)="removePia(pia.id)" class="btn pia-tooltip">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <span class="pia-tooltip-text">{{ 'homepage.lists.item.tools.remove' | translate }}</span>
    </a>
  </div>
</td>
</ng-container>
<!-- <button (click)="ngOnInitCustom()">CIAO</button> -->




