<app-header></app-header>
<main class="container pia-settingsBlock pia-mainContainerBlock">
  <div class="row">
    <div class="small-12 medium-12 columns">
      <div class="pia-settingsBlock-server">
        <h1>{{ 'settings.title' | translate }}</h1>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate >
          <label for="server_url">{{ 'settings.content' | translate }}</label>
          <input type="text" id="server_url" formControlName="server_url" placeholder="https://" value="http://10.44.130.43:3001">
          <button type="submit"
                  class="btn btn-green"
                  ngClass="{'btn--processing': formProcessing}">
            {{ 'settings.update' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
<app-modals></app-modals>

